<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.s4.board.notice.NoticeDAO">
  
  <update id="setCommentUpdate" parameterType="CommentsDTO">
  	UPDATE COMMENTS SET CONTENTS=#{contents} WHERE COMMENTNUM=#{commentNum}
  </update>
  
  
  
  <delete id="setCommentDelete" parameterType="CommentsDTO">
  	DELETE COMMENTS WHERE COMMENTNUM = #{commentNum}
  </delete>
  
  
  	<select id="getCommentCount" parameterType="CommentsDTO" resultType="Long">
  		SELECT COUNT(COMMENTNUM) FROM COMMENTS
  		WHERE BOARD=#{board} AND NUM=#{num}
  	</select>
  
  	<select id="getCommentList" parameterType="Map" resultType="CommentsDTO">
  		SELECT * FROM
  		(SELECT rownum R, C.* FROM
  		(SELECT * FROM COMMENTS 
  		WHERE BOARD=#{comments.board} AND NUM=#{comments.num}
  		ORDER BY COMMENTNUM DESC) C)
  		WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
  		
  	</select>
  
  
  	<insert id="setComment" parameterType="CommentsDTO">
  		INSERT INTO COMMENTS VALUES(comments_seq.nextval,#{num},#{writer},#{contents},sysdate,#{board})
  	</insert>
  
  
  	<insert id="setFile" parameterType="BoardFilesDTO">
  		INSERT INTO noticefiles values(files_seq.nextval, #{num},#{fileName},#{oriName})
  	</insert>
  	
	<select id="getFiles" parameterType="BoardDTO" resultType="BoardFilesDTO">
		SELECT * FROM NOTICEFILES WHERE num = #{num}
	</select>
  
  
   <select id="getCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(NUM) FROM NOTICE
  		WHERE 
			<choose>
			<when test="kind == 'title'">
			 TITLE
			 </when>
			 <when test="kind == 'contents'">
			 CONTENTS
			 </when>
			 <otherwise>
			 WRITER 
			 </otherwise>
			 </choose>
			 LIKE '%' || #{search} ||'%'
  	</select>
  	
  	<update id="setHitUpdate" parameterType="BoardDTO">
  		UPDATE NOTICE SET HITS = HITS+1 WHERE NUM=#{num}
  	</update>
  
  <select id="getList" resultType="NoticeDTO" parameterType="Pager">
  		SELECT * FROM 
		(SELECT rownum R, NC.* FROM 
		(SELECT * 
			FROM NOTICE
			WHERE 
			<choose>
			<when test="kind == 'title'">
			 TITLE 
			 </when>
			 <when test="kind == 'contents'">
			 CONTENTS
			 </when>
			 <otherwise>
			 WRITER 
			 </otherwise>
			 </choose>
			 LIKE '%' || #{search} ||'%'
			ORDER BY NUM DESC
			) 
		NC
		) 
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<resultMap type="NoticeDTO" id="getSelectResult">
  		<id column="num" property="num"/>
  		<result column="title" property="title"/>
  		<result column="contents" property="contents"/>
  		<result column="writer" property="writer"/>
  		<result column="regDate" property="regDate"/>
  		<result column="hits" property="hits"/>
  		<!-- 1:N의 관계 , DTO내에 List가 멤버변수로 되어 있을 때 -->
  		<collection property="files" javaType="List" ofType="BoardFilesDTO">
  			<id column="fileNum" property="fileNum"/>
  			<result column="num" property="num"/>
  			<result column="fileName" property="fileName"/>
  			<result column="oriName" property="oriName"/>
  		</collection>
  		
  	</resultMap>
  	
  	<select id="getSelect" parameterType="BoardDTO" resultMap="getSelectResult" >
  			SELECT N.*, NF.*
			FROM NOTICE N
			    LEFT JOIN
			    NOTICEFILES NF
			ON (N.NUM = NF.NUM)
			WHERE N.NUM=#{num}
  	</select>
  	
  	<insert id="setInsert" parameterType="BoardDTO">
  	<selectKey order="BEFORE" resultType="Long" keyProperty="num">
  		SELECT notice_seq.nextval FROM DUAL
  	</selectKey>
  		INSERT INTO NOTICE VALUES(#{num},#{title},#{contents},#{writer},sysdate,0)
  	</insert>
  	
  	<delete id="setDelete" parameterType="BoardDTO">
  		DELETE NOTICE WHERE NUM=#{num}
  	</delete>
  	
  	<update id="setUpdate" parameterType="BoardDTO">
  		UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents}, REGDATE=sysdate
  		WHERE NUM =#{num}
  	</update>
  	
  	
  	 
   
  </mapper>