<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.s4.board.qna.QnaDAO">
  
  <insert id="setFile" parameterType="BoardFilesDTO">
  	INSERT INTO QNAFILES values(qnafile_seq.nextval,#{num},#{fileName},#{oriName})
  </insert>
  
  <select id="getFiles" parameterType="BoardDTO" resultType="BoardFilesDTO">
  	SELECT * FROM QNAFILES WHERE num=#{num}
  </select>
  
  
  <select id="getCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(NUM) FROM QNA
  		WHERE 
			<choose>
			<when test="kind == 'title'">
			 TITLE 
			 </when>
			 <when test="kind == 'contents'">
			 CONTENTS
			 </when>
			 <otherwise>
			 WRITER 
			 </otherwise>
			 </choose>
			 LIKE '%' || #{search} ||'%'
  	</select>
  
  
  <select id="getList" resultType="QnaDTO" parameterType="Pager">
  		SELECT * FROM 
		(SELECT rownum R, QN.* FROM 
		(SELECT * 
			FROM QNA
			WHERE 
			<choose>
			<when test="kind == 'title'">
			 TITLE
			 </when>
			 <when test="kind == 'contents'">
			 CONTENTS
			 </when>
			 <otherwise>
			 WRITER 
			 </otherwise>
			 </choose>
			 LIKE '%' || #{search} ||'%'
			ORDER BY REF DESC, STEP ASC
			) 
		QN
		) 
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  </select>
  
  <select id="getSelect" parameterType="BoardDTO" resultType="QnaDTO">
  		SELECT * FROM QNA WHERE NUM=#{num}
  	</select>
  	
  	<insert id="setInsert" parameterType="BoardDTO">
  		<selectKey order="BEFORE" resultType="Long" keyProperty="num">
  			SELECT QNA_seq.nextval FROM DUAL
  		</selectKey>
  		INSERT INTO QNA VALUES(#{num},#{title},#{contents},#{writer},sysdate,0,QNA_seq.currval,0,0)
  	</insert>
  	
  	<update id="setReplyUpdate" parameterType="QnaDTO">
  		UPDATE QNA SET STEP=STEP+1 WHERE REF=#{ref} AND STEP>#{step}
  	</update>
  	
  	<insert id="setReply" parameterType="QnaDTO">
  		INSERT INTO QNA VALUES(QNA_seq.nextval,#{title},#{contents},#{writer},sysdate,0,#{ref},#{step},#{depth})
  	</insert>
  	
  	
  	<delete id="setDelete" parameterType="BoardDTO">
  		DELETE QNA WHERE NUM=#{num}
  	</delete>
	
	<update id="setUpdate" parameterType="BoardDTO">
  		UPDATE QNA SET TITLE=#{title}, CONTENTS=#{contents}, REGDATE=sysdate
  		WHERE NUM =#{num}
  	</update> 
  	
  		<update id="setHitUpdate" parameterType="BoardDTO">
  			UPDATE QNA SET HITS = HITS+1 WHERE NUM=#{num}
  		</update>
  	
	
	
	  
  </mapper>